/*
*
Capx
*                                                           
*/ 
 

$white: #ffffff;
$black: #000000;

$primary-color: #512FCF; // primary color for all components
$secondary-color: #010142; 
$success-color: #1db100;
$warning-color: #faad14; // warning state color
$error-color: #f5222d; // error state color


$font-family: 'AvertaStd';
$font-size-base: 14px;
$font-size-xlg: $font-size-base + 4px; //18px
$font-size-lg: $font-size-base + 2px; //16px
$font-size-sm: $font-size-base - 2px; //12px

$text-color: #ffffff; // major text color
$text-color-primary: #512FCF; // primary text color
$text-color-secondary: #010142; // major text color
$text-red: #d90a00; // Red text color
$link-color: $primary-color; // link color
$disabled-color: rgba($primary-color, 0.1); // disable state color
$border-radius-base: 10px; // major border radius
$border-color-base: #5B35E9;
 

